<!-- start toc -->
<div style="background: #fbf7f7; margin-top: 35px;padding: 10px;">
  <link rel="stylesheet" href="asset/css/zTreeStyle/zTreeStyle.css" type="text/css">
        <ul id="tree" class="ztree"></ul>
</div>   
<!-- end toc -->

<div class="markdown-body">
<h1>{{post.title}}</h1>

{{ post.content }}

</div>

<br /><br />
<hr />

<div class="row clearfix">
  <div style="width:50%;float:left;padding-left: 15px;">
	<div class="text-left" style="padding:15px 0px;">
		{% if postNav.prev %}
	        <a href="{{ postNav.prev.url }}"  title="Previous Post: {{ postNav.prev.title }}">&laquo; {{ postNav.prev.title }}</a>
	    {% /if %}
	</div>
  </div>
  <div style="width:50%;float:right;padding-right: 15px;">
	<div class="text-right" style="padding:15px 0px;">
		{% if postNav.next %}
	        <a href="{{ postNav.next.url }}" 
	        title="Next Post: {{ postNav.next.title }}">{{ postNav.next.title }} &raquo;</a>
	    {% /if %}
	</div>
  </div>
</div>

<div class="row">
<div style="padding:0px 0.93em;" class="share-comments">
{{ commentAndShareCode }}
                            

</div>
</div>
<script type="text/javascript">
	$(function(){
		var currentURL = '{{ post.url }}';
		$('#side-nav a').each(function(){
			if($(this).attr('href') == currentURL){
				$(this).parent().addClass('active');
			}
		});
	});
</script>

<!-- toc -->
<script src="asset/js/jquery.ztree.all-3.5.min.js?v=4?v=20151125" type="text/javascript"></script>
<script src="asset/js/ztree_toc.js?v=4?v=20151125" type="text/javascript"></script>
<SCRIPT type="text/javascript" >
  <!--
  $(document).ready(function(){
    $('#tree').ztree_toc({
      is_auto_number:true
    });
  });
  //-->
  </SCRIPT>
  <!-- toc -->

